<!-- FILEPATH: /usr/share/bigbashview/framework/component/card-model-1.html -->
<!-- This is the HTML template for a card component -->
<article class="grid-item round fill medium-height middle-align center-align no-margin">
    <div>
        <!-- Display an icon -->
        <img class="extra" :src="icon" alt="">
        <!-- Display the title -->
        <h5 class="center-align" x-html="title"></h5>
        <!-- Display the description -->
        <p x-html="description"></p>
        <!-- Display a button -->
        <button class="border secondary-container large-margin upper" @click="buttonAction">
            <!-- Display an icon inside the button -->
            <i x-html="buttonIcon"></i>
            <!-- Display the button text -->
            <span x-html="buttonText"></span>
        </button>
    </div>
</article>
